body {
  background: #20262e;
  padding: 20px;
  font-family: Helvetica;
}

#app {
  background: #fff;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.2s;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin: 8px 0;
}

.bold {
  font-weight: bold;
}

ol {
  padding: 0px 20px 20px;
}

li {
  margin: 8px 0;
  list-style: decimal;
}

label {
  font-weight: bold;
  margin-right: 8px;
}

input {
  margin: 8px 0;
  background-color: white;
  color: black;
  padding: 5px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 10px 0px;
}

button {
  background-color: white;
  color: black;
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 10px 0px;
  margin-right: 10px;
}
