.result {
  height: 60px;
  background-color: #000000;
  color: #ffffff;
  width: 100%;
}

.result p {
  font-size: 40px;
  margin: 5px;
}

.calculator-body {
  max-width: 400px;
  margin: auto;
}

.button {
  display: block;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
  background-color: #ffffff;
  border: 1px solid #000000;
}

h2 {
  text-align: center;
}
